<mat-table [dataSource]="courses">
  <!-- Name Column -->
  <!-- <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
    <mat-cell *matCellDef="let course">{{ course.id}}</mat-cell>
  </ng-container> -->

  <!-- Category Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let course">
      {{ course.nome }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
    <mat-cell *matCellDef="let course">
      {{ course.url }}
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um link">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let course" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar link">
        <mat-icon (click)="onEdit(course)">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover link">
        <mat-icon (click)="onDelete(course)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
